<div class="ui main text container">
  <%= form_for @post, :html => {:class => 'ui form'} do |f| %>
  <p>
    <%= f.label :message %>
    <%= f.text_field :message %>
  </p>
  <p>
    <%= f.label :image %>
    <%= f.text_field :image, :placeholder => "Add an image URL" %>
  </p>
  <p>
    <%= f.label :video %>
    <%= f.text_field :video, :placeholder => "Add a Youtube URL" %>
  </p>
    <%= f.submit "Edit post", :class => 'ui button orange' %>
  <%end%>
</div>
