<!DOCTYPE html>
<html>
  <head>
    <title>Project1</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
    <!-- <%= cloudinary_js_config %> -->
  </head>

  <body>
    <div class="ui inverted segment orange">
      <div class="ui inverted pointing menu orange">
        <%= link_to "Home", root_path, class: "item home" %>
        <% if @current_user %>
          <%= link_to "Friends", friends_path, class: "item" %>
        <%end%>
        <div class="right item">
          <% if @current_user %>
            <%= link_to "Sign out", signout_path, method: "delete", class: "ui inverted button" %>
          <%else%>
            <%= link_to "Sign up", signup_path, class: "ui inverted button" %>
            <%= link_to "Sign in", signin_path, class: "ui inverted button" %>
          <%end%>
        </div>
      </div>
    </div>
    <% if @current_user %>
      <p class="signin_user">Signed in as: <%= @current_user.name %></p>
    <%end%>
    <div>
      <%= render "includes/flash_notices" %>
    </div>
    <%= yield %>
  </body>
</html>
